#title {
	background-color: #95F;
	width: 200px;
	font-size:25px;
	font-weight:bold;
	padding-left:10px;
	height: 60px;
}
#back	{
	background-color: red;
	height: 60px;
	width:500px;
}
#content
{
	width:500px;
	background-color:grey;
	height: 500px;
}
#content1
{
	width:540px;
	background-color:grey;
	height: 50px;
}
#content2
{
	width:600px;
	background-color:grey;
	height: 650px;
}